<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>
    <body>
        <h1>
            Sign Up
        </h1>
        <form action="/create" method="post">
            <input type="text"  name="name" placeholeder="Your Name" required>
            <input type="email"  name="email" placeholeder="Your Email" required>
            <input type="password"  name="password" placeholeder="Password" required>
            <input type="password" name="confirm password" placeholeder="Confirm Password" required>
            <input type="submit" value="SignUp" >
        </form>
    </body>
</html>