<html>
    <head>
        <title>
            Sign in
        </title>
    </head>
    <body>
        <h1>
            Sign In
        </h1>
        <form action="users/create-session" method="POST">
            <input type="email"  name="email" placeholeder="Email" required>
            <input type="password"  name="password" placeholeder="Password" required>
            <input type="submit" value="signIn" >
        </form>
    </body>
</html>