<html>
    <head>
        <title>
            Sign in
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ">
              <a class="navbar-brand" href="#">Codeial</a>
              </div>
        </nav>
        <h1 style="text-align: center;margin-top: 40px;margin-bottom: 50px;">
            CODEIAL | Sign In
        </h1>
        <!-- <form action="/users/create-session" method="POST">
            <input type="email"  name="email" placeholder="Email" required>
            <input type="password"  name="password" placeholder="Password" required>
            <input type="submit" value="signIn" >
        </form> -->

        <form class="my-auto mx-auto" action="/users/create-session" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email"  placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Please read the instructions before Signing in.<br>
                <ul>
                    <li>
                        Please ensure that no post should be posted which involves abusive language .
                    </li>
                    <li>
                        Please ensure do not post anything which hurt religious and political sentiments.
                    </li>
                    <li>
                        Do not post any obscene post
                    </li>
                    <li>
                        The above rules should be followed otherwise strict action would be taken in case of violation according to the Codeial policy
                    </li>
                </ul>
            </label>
            </div>
            <button type="submit" value="signIn" class="btn btn-primary">Sign In</button>
          </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </body>
</html>