<html>
    <head>
    </head>
    <body>
        <p>This is :<%= user.name  %> section </p>
        <p>Name: <%= user.name %> </p>
        <p>Your email address is :<%= user.email %></p>
    </body>
</html>